:root {
  --color-surface-bg: #F5F5F5;
  --color-primary: #EC0007;
  --color-text: #333333;
  --footer-heading: var(--color-text);
  --footer-text: var(--color-text);
  --footer-bg: transparent;
  --header-bg: transparent;
  --home-bg: #FFFFFF;
  --home-border-color: var(--color-primary);
  --home-border-style: none;
  --body-bg-color: #FFFFFF;
  --highlight-bg: '';
  --highlight-text: #FF0000;
  --topmenu-select-bg: url();
  --topmenu-select-text: #FF0000;
  --topmenu-gap: 0;
  --sidemenu-button-bg: var(--color-primary);
  --sidemenu-text-color: #EEEEEE;
  --sidemenu-highlight-bg: #C20006;
  --sidemenu-highlight-text: #FFFFFF;
  --sidemenu-select-bg: #D1070E;
  --sidemenu-select-text: #FFFFFF;
}
body {
  justify-content: flex-start;
}
.topmenu > ul {
  background-image: url(../images/menu_bg.png);
  background-repeat: repeat-x;
  background-size: cover;
  color: #333333;
}
.sidemenu li > button,
.sidemenu li li > a,
.sidemenu > ul > li > a {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.2);
}
body.body--three-columns,
body.body--three-columns > div:first-of-type {
  gap: 0;
}
.topbar .widget_share a {
  width: 2rem;
  height: 2rem;
}
.image-links > .container,
#main > .container,
.header > .container {
  background-color: var(--home-bg);
}
.header > .container {
  padding: 0;
}
.footer {
  padding: 0 0 var(--space-4);
}
.footer .container {
  background-color: #F9F9F9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--space-6) var(--space-4);
}
@media (max-width: 960px) {
  .footer .container {
    justify-content: center;
  }
}
#main > .container,
.page-body > .container {
  padding-top: var(--space-4);
}
#main > .container {
  padding-bottom: var(--space-4);
}
.sidebar .section__body {
  border: 1px solid var(--home-border-color);
}
.sidebar .section__header {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  padding: 5px 0;
  position: relative;
}
.sidebar-left > .sidebar .section__header {
  margin-left: -10px;
}
.sidebar-right > .sidebar .section__header {
  margin-right: -10px;
}
.sidebar-left > .sidebar .section__header:before {
  content: '';
  position: absolute;
  border-style: solid;
  bottom: -10px;
  border-width: 0 10px 10px 0;
  border-color: transparent var(--color-primary) transparent transparent;
  left: 0;
}
.sidebar-right > .sidebar .section__header:after {
  content: '';
  position: absolute;
  border-style: solid;
  bottom: -10px;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent transparent var(--color-primary);
  right: 0;
}
.sidebar h2 {
  font-size: var(--font-size-lg);
  font-weight: normal;
  border-width: 2px;
  border-style: dashed none;
  border-color: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 5px 10px;
}
.footer a,
.page-detail a,
.home a {
  color: var(--color-primary);
}
