<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <div class="card-groups">
        <header>
          <div>
            <h1 class="icon-cog" data-i18n>{LNG_Event} {LNG_Settings}</h1>
            <p data-i18n>Configure member roles for this event calendar</p>
          </div>
        </header>

        <div class="content-body">
          <!-- Settings Form -->
          <form data-form="eventSettings" action="../api/event/settings/save" method="POST" data-ajax-submit="true" data-load-api="../api/event/settings/get"
                data-load-query-params="true" data-confirm="Confirm save">
            <fieldset>
              <legend class="icon-shield" data-i18n>Permissions</legend>

              <div>
                <label for="can_write" data-i18n>Can write</label>
                <span class="form-control icon-user">
                  <select id="can_write" name="can_write" data-options-key="user_status" data-attr="value:can_write" multiple></select>
                </span>
              </div>
              <div>
                <label for="can_config" data-i18n>Can configure</label>
                <span class="form-control icon-valid">
                  <select id="can_config" name="can_config" data-options-key="user_status" data-attr="value:can_config" multiple></select>
                </span>
              </div>
            </fieldset>

            <!-- Submit Button -->
            <fieldset class="submit">
              <button type="submit" class="btn btn-primary icon-save" data-i18n>Save</button>
              <input type="hidden" name="module_id" data-attr="value:module_id">
            </fieldset>
          </form>
        </div>
      </div>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 GCMS - Powered by <a href="https://nowjs.net">Now.js</a></p>
  </footer>
</div>
