<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <form data-form="adminmaintenance" data-validate="true" action="../api/index/adminmaintenance/save" method="post" data-ajax-submit="true" data-load-query-params="true"
            data-load-api="../api/index/adminmaintenance/get" autocomplete="off" data-on-load="initMaintenanceForm">
        <div class="card-groups">
          <header>
            <div>
              <h1 class="icon-index" data-i18n>Maintenance mode</h1>
              <p data-i18n>The page will appear on your site is in maintenance mode</p>
            </div>
          </header>

          <div class="content-body">

            <!-- Page Details -->
            <fieldset>
              <legend class="icon-index" data-i18n>{LNG_Details of} {LNG_Maintenance mode}</legend>
              <div>
                <input type="checkbox" class="switch" id="published" name="published" value="1" data-attr="checked:published">
                <label for="published" data-i18n>Published</label>
                <div class="comment" id="result_published" data-i18n>Publish this item</div>
              </div>

              <div>
                <label for="language" data-i18n>Language</label>
                <span class="form-control icon-language">
                  <select id="language" name="language" data-options-key="language" data-attr="value:language">
                  </select>
                </span>
              </div>

              <div>
                <label for="detail" data-i18n>Detail</label>
                <textarea id="detail" name="detail" data-element="richtext" data-attr="value:detail" data-rte-profile="basic" data-rte-min-height="350"></textarea>
              </div>
            </fieldset>

            <!-- Submit -->
            <fieldset class="submit">
              <button type="submit" class="btn btn-primary icon-save" data-i18n>Save</button>
              <input type="hidden" name="id" value="maintenance">
            </fieldset>

          </div>
        </div>
      </form>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 GCMS - Powered by <a href="https://nowjs.net">Now.js</a></p>
  </footer>
</div>