.widget_personnel {
  overflow: hidden;
  clear: both;
  position: relative;
}
.widget_personnel .detail {
  margin: 10px 0 0 0;
}
.widget_personnel>div {
  position: relative;
  width: 100%;
  text-align: center;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 0;
}
.widget_personnel>.currItem {
  -moz-opacity: 1;
  filter: alpha(opacity=1);
  opacity: 1;
  z-index: 1;
}
.widget_personnel .thumbnail,
.widget_personnel .name,
.widget_personnel .position {
  font-weight: bold;
  display: block;
}
.widget_personnel .thumbnail img {
  max-width: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
}
