body,
li {
  line-height: 1.8;
}
.menu_bg_color {
  border-color: rgba(0, 0, 0, 0.1);
}
/* font button, language button */
.font_size,
a[id^="lang_"] {
  color: inherit;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  font-family: Arial;
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.05);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50rem;
  transition: all 0.5s ease-out;
}
a[id^="lang_"]:hover,
a[id^="lang_"]:focus,
.font_size:hover,
.font_size:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
}
/* homepage */
.content {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.1);
}
.bdr_content header {
  margin-bottom: 10px;
}
.modaldiv .bdr_content {
  margin: 0;
}
.header #logo {
  font-size: 4rem;
  color: inherit;
  display: block;
}
header p,
footer p {
  margin: 0;
}
.content h2 a {
  color: inherit;
}
.keywords > a {
  background-color: rgba(0, 0, 0, 0.03);
  margin: 0 2px 2px 0;
  padding: 0 5px;
}
.create,
.date,
time,
.visited {
  font-size: 0.9rem;
}
/* Colors */
.script,
.date,
.create,
time {
  color: #616161;
}
.php {
  color: rgb(0, 0, 230);
}
.count,
.no {
  color: #007fae;
}
.ip {
  color: #7e57c2;
}
.asp,
.icon-upload:before {
  color: rgb(108, 61, 3);
}
.button.line {
  background-color: #06C755;
}
.follow.icon-line:before,
.comments,
.icon-edit:before {
  color: #06C755;
}
.xml,
.icon-published1:before {
  color: rgb(0, 0, 124);
}
.visited,
.css,
.icon-loading:before {
  color: #24b6d5;
}
.reply,
.reply1:before {
  color: #fd971f;
}
.html,
.icon-widgets:before,
.icon-unpin:before,
.icon-pin:before {
  color: #e91e63;
}
.sql,
.tags,
.icon-subcategory:before {
  color: #03a9f4;
}
.htaccess,
.icon-unlock:before,
.icon-lock:before {
  color: rgb(71, 87, 173);
}
.icon-delete:before,
.icon-valid:before,
.access:before {
  font-style: normal;
  color: #ff5722;
}
span.icon-sex-f:before {
  color: #f480d1;
}
span.icon-sex-m:before {
  color: #36c;
}
.icon-quote:before {
  color: #ff7e57;
}
.icon-print:before {
  color: #4488bb;
}
.icon-published0:before,
.reply0:before,
.icon-sex:before,
.icon-thumbnail:before,
.value0:before,
.disabled:before {
  color: #ccc;
}
.new:after,
.update:after,
.hot:after,
.recommend:after {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  padding: 0 2px;
  margin: 0 0 0 5px;
  border-radius: 3px;
  vertical-align: middle;
}
.new:after {
  content: "new";
  background-color: #ff8400;
  color: #fff;
}
.update:after {
  content: "update";
  background-color: #ffff00;
  color: #000;
}
.hot:after {
  content: "hot!";
  background-color: #f00;
  color: #fff;
}
.recommend:after {
  content: "cool";
  background-color: #259b24;
  color: #fff;
}
/* header */
.header {
  background-position: 0 50%;
}
.header #logo {
  padding: 10px 10px 0;
}
.header .description {
  padding: 0 30px 10px;
}
/* Widget */
.widget {
  margin-top: 10px;
  color: inherit;
}
.widget:first-child {
  margin-top: 0;
}
.widget .widget_body {
  padding: 5px;
}
.widget header h2 {
  padding: 0 10px;
}
.sidebar_bg_color {
  padding: 0 10px 10px;
}
.sidebar .widget_like,
.sidebar .widget_share {
  margin-top: 10px;
  text-align: center;
}
.widget .next {
  margin: 0 10px;
  text-align: right;
}
#counter-box {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.counter-detail {
  display: table-row;
}
.counter-detail > span {
  display: table-cell;
  text-align: center;
  padding: 0.3rem;
}
.counter-detail > .col {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.02);
}
/* Login Form */
.login p {
  padding: 2px 5px;
  margin: 0;
}
.login .error {
  padding: 5px 0;
}
.login .subtitle {
  font-size: 0.9rem;
}
/* member form */
.member_section > .main_frm {
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
  background-color: #f9f9f9;
  border-radius: 0 3px 3px 3px;
  padding: 0 10px 10px;
}
img.thumbnail,
img#usericon {
  max-width: 50px;
  max-height: 50px;
}
img.uicon {
  margin-left: 10px;
}
/* comment */
.q.detail,
.post-detail {
  position: relative;
}
.post-author ~ .post-detail {
  margin-left: 80px;
}
.post-detail figure:not(.center) {
  display: table;
  margin-bottom: 10px;
}
.post-author {
  float: left;
  width: 70px;
  text-align: center;
  display: block;
}
#document-view .reaction,
.q {
  margin-top: 10px;
}
.reaction {
  padding: 5px;
}
#comment-list .reaction {
  text-align: right;
}
.content-action > a,
footer.reaction > * {
  margin-left: 5px;
}
.content-action {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05);
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0.3;
  transition: opacity 0.2s;
}
.content-action:hover {
  opacity: 1;
}
.content-action > a:hover {
  text-decoration: none;
}
header.list h1,
header.list h2 {
  display: table;
  width: 100%;
}
header.list h1 > *,
header.list h2 > * {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
header.list .newtopic {
  text-align: right;
  color: inherit;
}
header.list h1 select,
header.list h2 select {
  font-size: 0.8rem;
}
/* webbaord */
#board-list .col1 {
  width: 42px;
}
#board-list .col1 .figure {
  display: block;
  width: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#board-list .col1 .figure::before {
  content: "";
  display: block;
  padding-top: 100%;
}
#board-list .col2 {
  max-width: 15rem;
}
#board-list .col4 {
  max-width: 6rem;
  text-align: center;
}
#board-list td {
  border-width: 2px;
  border-bottom-style: dotted;
}
/* document-list */
.document-list.gallery,
.document-list.listview,
.document-list.iconview,
.document-list.thumbview {
  flex-wrap: wrap;
}
.document-list article {
  display: flex;
}
.widget .document-list.listview article {
  padding-left: 5px;
  padding-right: 5px;
}
.document-list.listview article > div,
.document-list .description,
.document-list h6,
.document-list .icon {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.document-list .icon > :not(:first-child) {
  margin-left: 10px;
}
.document-list.thumbview article {
  flex-direction: column;
  border-radius: 0.25rem;
  margin: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.document-list.thumbview .figure {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
}
.document-list.listview .figure,
.document-list.iconview .figure {
  border-radius: 0.25rem;
  overflow: hidden;
}
.document-list.iconview h6,
.document-list.thumbview .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.document-list.thumbview .description {
  -webkit-line-clamp: 2;
  height: 4rem;
}
.document-list.iconview h6 {
  -webkit-line-clamp: 1;
}
.document-list.thumbview article > div {
  padding: 5px 10px;
}
.document-list.iconview article {
  border-width: 2px;
  border-bottom-style: dotted;
  border-color: rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding-bottom: 5px;
}
.document-list .error {
  width: 100%;
}
.listview .figure > span,
.iconview .figure > span,
.thumbview .figure > span {
  position: relative;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.listview .figure > span::before,
.iconview .figure > span::before,
.thumbview .figure > span::before {
  content: "";
  display: block;
}
.iconview .figure {
  min-width: 104px;
  margin-right: 10px;
}
.listview .figure {
  min-width: 1.3rem;
  margin-right: 10px;
}
.listview .figure > span::before,
.iconview .figure > span::before {
  padding-top: 100%;
}
.thumbview .figure > span::before {
  padding-top: 56.25%;
}
.listview p,
.iconview p,
.thumbview p {
  margin: 0;
}
.document-list.thumbview h6,
.document-list.iconview .icon {
  -webkit-line-clamp: 1;
}
.document-list.listview article > div > * {
  display: inline;
  margin-left: 5px;
}
.document-list.listview .description,
.document-list.iconview .description,
.document-list:not(.thumbview) .icon > span:not(.create) {
  display: none;
}
.document-list.listview article {
  align-items: center;
  border-width: 1px;
  border-bottom-style: dotted;
  border-color: rgba(0, 0, 0, 0.2);
}
.document-list.listview article > div {
  -webkit-line-clamp: 1;
}
/* gbanner */
.gbanner {
  position: relative;
}
.gbanner .slide_display {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.vscroller:hover .btnnav,
.gbanner:hover .btnnav {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
.vscroller .btnnav,
.gbanner .btnnav {
  font-size: 1.3rem;
}
.gbanner .button_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  width: 100%;
  text-align: center;
}
.gslideshow .button_wrapper_thumbnail {
  overflow: hidden;
  position: relative;
  margin-top: 5px;
}
.gbanner .button_wrapper .button_container {
  margin: 0;
}
.gbanner .button_wrapper_thumbnail .button_container {
  display: table;
  margin: 0 auto;
}
.gslideshow .button_wrapper_thumbnail .button_container.scroll {
  transition: left 0.5s ease-in-out;
}
.gbanner .button_wrapper .button_container > a {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
  font-size: 10px;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-family: Arial;
  margin: 0 5px;
  border-radius: 50rem;
}
.gbanner .button_wrapper_thumbnail .button_container > a {
  display: table-cell;
}
.gbanner .button_wrapper a {
  color: #fff;
  display: block;
}
.gbanner .button_wrapper a.current {
  background-color: rgba(255, 0, 0, 0.8);
}
.gbanner .button_wrapper .button_container > a > span {
  display: none;
  width: 50px;
  height: 37.5px;
  position: absolute;
  left: 50%;
  margin-top: -47.5px;
  margin-left: -25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.gbanner .button_wrapper_thumbnail .button_container > a > span,
.gbanner .button_wrapper .button_container > a > span {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.gbanner .button_wrapper_thumbnail .button_container > a > span {
  display: block;
  width: 100px;
  height: 75px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  margin: 3px 5px;
}
.gbanner .button_wrapper_thumbnail a.current > span {
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.3);
}
.gbanner .button_wrapper .button_container span:after {
  content: "";
  position: absolute;
  border-width: 6px;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid solid none solid;
  border-left-color: transparent;
  border-right-color: transparent;
  bottom: -7px;
  margin-left: -6px;
  left: 50%;
}
.gbanner .button_wrapper .button_container > a:hover > span {
  display: block;
  animation: fadein 1s ease both;
}
.gbanner figure {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin-right: -100%;
  background-position: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 2s ease-in-out;
  background-position: center;
  background-size: contain;
}
.gbanner figure > a {
  display: block;
}
.gbanner figure.show {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.gbanner figcaption {
  padding: 0.5rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  left: 0;
  bottom: -3rem;
  line-height: 2rem;
  width: 100%;
  transition: all 0.5s ease-out;
}
.gbanner:hover figcaption {
  bottom: 0;
}
/* search form */
.widget-search-form > p,
.search-form > p {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}
.widget-search-form > p > label,
.search-form > p > label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  width: auto !important;
}
.widget-search-form [type="text"],
.search-form [type="text"] {
  display: block;
  width: 100%;
}
.widget-search-form input,
.widget-search-form button,
.search-form input,
.search-form button {
  color: inherit;
  background-color: transparent;
  border-style: none;
  box-shadow: none;
  line-height: 1.5;
}
.widget-search-form button:before,
.search-form button:before {
  margin: 0;
  font-size: 1.5rem;
}
#search-form {
  display: table;
  margin: 0 auto;
  padding: 15px 0;
  max-width: 100%;
  font-size: 1.6rem;
}
#search-form p {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
}
#search-form button {
  background-color: transparent;
  color: #555;
  text-shadow: 1px 1px 0 #fff;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  transition: all 0.5s ease-out;
}
#search-form button:hover {
  color: #000;
}
#search-form .submit {
  background-color: #eee;
}
#document-search > #search-result {
  text-align: right;
  margin-bottom: 30px;
}
#document-search > #search-list > div {
  margin: 0 0 10px 0;
}
#search-list > ul {
  padding: 0 0 10px 40px;
}
.search-item {
  margin: 0 0 30px 0;
}
.search-item > p {
  margin: 0;
}
.search-item > p.link {
  color: #008000;
}
.search-item h6 a,
.search-item h3 a {
  color: inherit;
  font-family: arial, sans-serif;
  font-size: 1.4rem;
}
.animation,
.animation-fast {
  transition: all 0.2s ease-out;
}
.animation-medium {
  transition: all 0.5s ease-out;
}
.animation-slow {
  transition: all 1s ease-out;
}
#GModal_modaldiv .modaldiv {
  background-color: #fff;
}
.modaldiv h2 {
  padding: 0 10px;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.04);
}
.modaldiv form {
  padding: 10px;
}
.consent_frm fieldset {
  padding-bottom: 10px;
}
.consent_frm fieldset.submit {
  margin-bottom: 0;
  padding-bottom: 0;
}
.consent_frm .info {
  background-color: rgba(0, 0, 0, 0.02);
}
.info {
  border: 1px dashed rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  padding: 10px;
}
.check-column {
  padding: 0;
  width: 2.5rem;
  text-align: center !important;
}
/* phone, tablet */
@media only screen and (max-width: 768px) {
  body.responsie #board-list .col2 {
    max-width: 10rem;
  }
}
/* iphone and small device */
@media only screen and (max-width: 480px) {
  body.responsie .header #logo {
    font-size: 2.5rem;
  }
}
/* widget calendar */
.widget-calendar div.header,
.widget-calendar table {
  width: 100%;
  display: table;
}
.widget-calendar a:hover,
.widget-calendar a {
  color: inherit;
}
.widget-calendar div.header > label,
.widget-calendar div.header > a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  min-width: 30px;
}
.widget-calendar td.curr {
  color: #999;
}
.widget-calendar td.curr {
  background-color: #f7f7f7;
  text-shadow: 0 1px 0 #fff;
}
.widget-calendar td.ex {
  color: #ccc;
}
.widget-calendar .set-today {
  text-align: center;
  display: block;
  cursor: pointer;
}
.widget-calendar div.header > a.prev:before {
  content: "<";
}
.widget-calendar div.header > a.next:after {
  content: ">";
}
.widget-calendar td,
.widget-calendar th {
  text-align: center;
  padding: 0;
  vertical-align: middle;
  height: 2rem;
  background-color: #fff;
}
.widget-calendar tbody td.today {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background-color: #f8a654;
  box-shadow: none;
}
.widget-calendar th {
  background-color: #fff;
}
.widget-calendar td address,
.widget-calendar td div a > span,
.widget-calendar div.header > a > span {
  display: none;
}
.widget-calendar div.header {
  background-color: #ab79da;
  color: #fff;
  line-height: 3rem;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.widget-calendar div.header select {
  font-size: 14px;
  color: inherit;
  background-color: inherit;
  border-style: none;
}
.widget-calendar tbody td {
  position: relative;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.widget-calendar tbody td:first-child {
  border-left-style: none;
}
.widget-calendar tbody tr:first-child td {
  border-top-style: none;
}
.widget-calendar div.header:after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin-top: -2px;
  right: 50%;
  font-size: 1px;
  content: "";
  border-width: 4px;
  border-style: none solid solid solid;
  border-color: #fff transparent;
}
.widget-calendar td div > a,
.widget-calendar td div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.widget-calendar td div > a:before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  width: 12px;
  height: 12px;
  background: #00c213;
  background-image: linear-gradient(top, #00c213, #00a20b);
  transform: rotate(-45deg);
}
/* tooltip */
body .tooltip-right,
body .tooltip-left,
body .tooltip-top,
body .tooltip-top-left,
body .tooltip-top-right,
body .tooltip-bottom,
body .tooltip-bottom-left,
body .tooltip-bottom-right {
  position: absolute;
  padding: 4px 8px;
  background-color: #222;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #000;
  filter: alpha(opacity=90);
  opacity: 0.9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 888;
}
.tooltip-right:after,
.tooltip-left:after,
.tooltip-top:after,
.tooltip-bottom:after,
.tooltip-top-left:after,
.tooltip-top-right:after,
.tooltip-bottom-left:after,
.tooltip-bottom-right:after {
  border-color: #000;
  font-size: 1px;
  border-width: 6px;
  content: "";
  position: absolute;
  z-index: 889;
}
.tooltip-right:after {
  border-style: solid none solid solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  right: -6px;
  top: 50%;
  margin-top: -6px;
}
.tooltip-left:after {
  border-style: solid solid solid none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  top: 50%;
  margin-top: -6px;
  left: -6px;
}
.tooltip-top-left:after,
.tooltip-top-right:after,
.tooltip-top:after {
  border-style: none solid solid solid;
  border-left-color: transparent;
  border-right-color: transparent;
  top: -6px;
  margin-left: -6px;
  left: 50%;
}
.tooltip-bottom-left:after,
.tooltip-bottom-right:after,
.tooltip-bottom:after {
  border-style: solid solid none solid;
  border-left-color: transparent;
  border-right-color: transparent;
  bottom: -6px;
}
.tooltip-top-left:after,
.tooltip-bottom-left:after {
  left: 15px;
}
.tooltip-top-right:after,
.tooltip-bottom-right:after {
  right: 15px;
}
.tooltip-bottom:after {
  left: 50%;
  margin-left: -6px;
}
