<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <div class="card-groups">
        <header>
          <div>
            <h1 class="icon-customer" data-i18n>Personnels</h1>
            <p data-i18n>Manage organization personnel</p>
          </div>
          <a class="btn btn-primary icon-new" href="/personnel" data-params="module_id" data-i18n>{LNG_Add} {LNG_Personnel}</a>
        </header>

        <div class="content-body">
          <div class="tablebody">
            <table class="table border fullwidth" data-table="personnelList" data-source="../api/personnel/setup" data-search-columns="name,phone,position" data-page-size="25"
                   data-show-checkbox="true" data-actions='{"delete":"Delete"}' data-action-url="../api/personnel/setup/action" data-action-params="module_id" data-row-actions='{
                       "edit": {
                         "label": "Edit",
                         "className": "btn btn-success icon-edit"
                       }
                   }'>
              <thead>
                <tr>
                  <th data-field="image" data-formatter="formatImage" class="center" data-cell-class="center" data-i18n>{LNG_Photo}</th>
                  <th data-field="name" data-i18n>{LNG_Name}</th>
                  <th data-field="department" data-filter="true" data-type="select" class="center" data-cell-class="center" data-format="lookup" data-i18n>{LNG_Department}</th>
                  <th data-field="level" data-filter="true" data-type="select" class="center" data-cell-class="center" data-format="lookup" data-i18n>{LNG_Level}</th>
                  <th data-field="position" data-i18n>{LNG_Position}</th>
                  <th data-field="phone" data-i18n>{LNG_Phone}</th>
                  <th data-field="published" class="center" data-cell-class="center" data-formatter="formatActiveStatus" data-i18n>{LNG_Published}</th>
                  <th data-field="updated_at" class="center" data-cell-class="center" data-format="datetime" data-i18n>{LNG_Last Update}</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 GCMS - Powered by <a href="https://nowjs.net">Now.js</a></p>
  </footer>
</div>