<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <form data-form="personnel-person" data-validate="true" data-reset="false" action="../api/personnel/write/save" method="post" data-ajax-submit="true"
            data-load-query-params="true" data-load-api="../api/personnel/write/get" autocomplete="off">
        <div class="card-groups">
          <header>
            <div>
              <h1 class="icon-customer" data-text="id ? '{LNG_Edit} {LNG_Personnel}' : '{LNG_Add} {LNG_Personnel}'"></h1>
              <p data-i18n>Manage personnel information</p>
            </div>
            <div class="header-actions">
              <a class="btn icon-arrow-left" href="/personnel-list" data-params="module_id" data-i18n>Back</a>
              <button type="submit" class="btn btn-primary icon-save" data-i18n>Save</button>
            </div>
          </header>

          <div class="content-body">
            <fieldset>
              <legend data-i18n>Personnel Information</legend>

              <div class="form-group">
                <div class="width50">
                  <label for="name" data-i18n>Name</label>
                  <span class="form-control icon-customer">
                    <input type="text" id="name" name="name" data-attr="value:name" required>
                  </span>
                </div>
                <div class="width50">
                  <label for="department" data-i18n>Department</label>
                  <span class="form-control icon-users">
                    <select id="department" name="department" data-attr="value:department" data-options-key="department">
                      <option value="" data-i18n>-- Select department --</option>
                    </select>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <div class="width50">
                  <label for="level" data-i18n>Sort order</label>
                  <span class="form-control icon-sort-asc">
                    <select id="level" name="level" data-attr="value:level" data-options-key="level">
                      <option value="" data-i18n>-- Select sort order --</option>
                    </select>
                  </span>
                </div>
                <div class="width50">
                  <label for="position" data-i18n>Position</label>
                  <span class="form-control icon-group">
                    <input type="text" id="position" name="position" data-attr="value:position">
                  </span>
                </div>
              </div>

              <div class="form-group">
                <div class="width50">
                  <label for="phone" data-i18n>Phone</label>
                  <span class="form-control icon-phone">
                    <input type="tel" id="phone" name="phone" data-attr="value:phone">
                  </span>
                </div>
                <div class="width50">
                  <label for="email" data-i18n>Email</label>
                  <span class="form-control icon-email">
                    <input type="email" id="email" name="email" data-attr="value:email">
                  </span>
                </div>
              </div>

              <div>
                <label for="detail" data-i18n>Biography</label>
                <span class="form-control icon-file">
                  <textarea id="detail" name="detail" rows="4" data-text="detail"></textarea>
                </span>
              </div>
            </fieldset>

            <fieldset>
              <legend data-i18n>Photo</legend>

              <div>
                <label for="image" data-i18n>Photo</label>
                <span class="form-control icon-portfolio">
                  <input type="file" id="image" name="image" data-files="image" data-preview="true" data-allow-remove-existing="true"
                         data-action-url="../api/personnel/write/remove-image" data-file-reference="url" data-action-params="module_id,id" accept="image/*"
                         data-attr="placeholder:'{LNG_Browse image uploaded, type} ' + img_typies">
                </span>
                <div class="comment" id="result_image" data-i18n>
                  Recommended: square image, minimum 300x300 px
                </div>
              </div>

              <div>
                <input type="checkbox" class="switch" id="published" name="published" data-attr="checked:published">
                <label for="published" data-i18n>Published</label>
              </div>
            </fieldset>
          </div>

          <div class="form-submit">
            <button type="submit" class="btn btn-primary icon-save" data-i18n>Save</button>
            <input type="hidden" name="id" data-attr="value:id">
            <input type="hidden" name="module_id" data-attr="value:module_id">
          </div>
        </div>
      </form>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 GCMS - Powered by <a href="https://nowjs.net">Now.js</a></p>
  </footer>
</div>