.videoitem figure {
  display: block;
  position: relative;
}
.videoitem span {
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
.videoitem .thumbnail {
  background-image: url(img/play.png);
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modaldiv .mv {
  position: relative;
  width: 560px;
  max-width: 100%;
}
.modaldiv .mv figcaption {
  padding: 10px;
  color: #FFF;
}