<ul class="widget-counter">
  <li class="widget-counter__row">
    <span class="widget-counter__label icon-calendar">{L_TODAY}</span>
    <span class="widget-counter__value">{TODAY}</span>
  </li>
  <li class="widget-counter__row">
    <span class="widget-counter__label icon-calendar">{L_YESTERDAY}</span>
    <span class="widget-counter__value">{YESTERDAY}</span>
  </li>
  <li class="widget-counter__row">
    <span class="widget-counter__label icon-event">{L_MONTH}</span>
    <span class="widget-counter__value">{MONTH}</span>
  </li>
  <li class="widget-counter__row is-total">
    <span class="widget-counter__label icon-visited">{L_TOTAL}</span>
    <span class="widget-counter__value">{TOTAL}</span>
  </li>
</ul>
