<!DOCTYPE html>
<html lang=TH dir=ltr>

<head>
  <title>{TITLE}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet href="../skin/gcss.css">
  <link rel=stylesheet href="../skin/fonts.css">
  <link rel=stylesheet href="./modules/index/views/install.css">

<body class="responsive">
  <div class="wrapper">
    <h1 id=logo>
      <em>G</em>CMS
    </h1>
    {CONTENT}
    <div class=footer>GCMS เป็นผลิตภัณฑ์ของ เว็บไซต์
      <a href="https://goragod.com">Goragod.com</a> สงวนลิขสิทธิ์ ตามพระราชบัญญัติลิขสิทธิ์ พ.ศ. 2539
    </div>
  </div>
</body>

</html>